* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #545454;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}

ul {
    list-style: none;
    font-style: italic;
    font-weight: 500;
}

a {
    text-decoration: none; /*tirar o sublinhado do link */
}

body {
    background: url(./pexels-anete-lusina-6331082.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

header ul {
    display: flex;
}

header ul li {
    padding: 5px;
    border-bottom: 2px dashed #fff;
}

header ul li a {
    transition: 300ms;
}

header ul li a:hover {
    color: #E43F53;
    text-decoration: underline;
}

header img {
    max-width:300px;
    max-height: 350px;
    width: auto;
    height: auto;
}

footer {
    text-align: center;
    margin: 30px;
    display: block;
}

footer a:hover {
    
    color: #E43F53;
    text-decoration: underline;
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 60px;
}

.container .name h5 {
    font-size: 25px;
}

#arrow {
    font-size: 40px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation {
    transition: 300ms;
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    display: block !important;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
}

.form {
    width: 40%;
    margin: 0 auto;
    padding-top: 10px;
}

.form input {
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.form button {
    width: 15%;
    padding: 5px 10px;
    background: linear-gradient(to right, #C71C31 50%, #E43F53 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
    border-radius: 0px 5px 5px 0px;
    margin-top: 15px;
    margin-left: -5px;
}

.form button:hover {
    background-position: left bottom;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .form {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .container .name h1 {
        font-size: 30px;
    }
    
    .container .name h5 {
        font-size: 15px;
    }

    #about p {
        max-width: 80%;
        text-align: justify;
    }


}